* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: poppins, sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}

.header {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
}

.header p {
  font-size: 16px;
  color: #333;
  margin-bottom: 30px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align content to the left */
  justify-content: flex-start;
  /* Start from the top */
  padding: 20px;
  padding-left: 400px;
  margin: 0;
  /* Remove default margin */
  background-color: #f4f7f9;
  width: 100vw;
  /* Full width of the viewport */
  min-height: 100vh;
  /* At least the full height of the viewport */
  box-sizing: border-box;
  /* Includes padding in width/height */
  line-height: 2.0;
  /* Line height for better readability */
}

.faq-container h3 {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin-top: 20px;
}

.faq-container p {
  padding: 20px 0;
}

.faq-container ol {
  padding-left: 20px;
}

.faq-container ul {
  padding-left: 30px;
}

.faq-container li {
  margin-bottom: 10px;
  /* Space between list items */
}

.divider {
  border: none;
  height: 1px;
  background-color: #cfcfcf;
  /* Light gray, but visible */
  opacity: 0.6;
  /* Slightly faded for minimal feel */
  width: 70%;
  margin: 30px 0;
  /* Space above and below the line */
}

.author-info {
  text-align: center;
  font-size: 14px;
  color: rgb(55, 65, 81);
  /* Dark text color */
  padding: 15px;
  background-color: #f4f7f9;
  /* Light background */
  position: relative;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.05);
}

.author-info a {
  color: #4E80EE;
  text-decoration: none;
  /* Remove underline */
}

.author-info a:hover {
  text-decoration: underline;
  /* Underline on hover */
}

.faq-container a {
  color: #4E80EE;
  text-decoration: none;
  /* Remove underline */
}

.faq-container a:hover {
  text-decoration: underline;
  /* Underline on hover */
}

@media (max-width: 640px) {
  .header {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header h1 {
    font-size: 24px;
  }

  .header p {
    font-size: 13px;
  }

  .faq-container {
    padding-left: 20px;
  }

  .faq-container h3 {
    font-size: 18px;
  }

  .faq-container p {
    font-size: 13px;
  }

  .faq-container ol,
  ul,
  li {
    font-size: 13px;
  }

  .author-info {
    font-size: 11px;
  }

  .divider {
    width: 100%;
    /* Full width on small screens */
  }

}

@media (min-width: 768px) and (max-width: 1024px) {
  .header {
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header h1 {
    font-size: 32px;
  }

  .header p {
    font-size: 20px;
  }

  .faq-container {
    padding-left: 60px;
  }

  .faq-container h3 {
    font-size: 26px;
  }

  .faq-container p {
    font-size: 20px;
  }

  .faq-container ol,
  ul,
  li {
    font-size: 20px;
  }

  .divider {
    width: 90%;
  }

  .author-info {
    font-size: 18px;
  }
}

@media (min-width: 1025px) and (max-width: 1350px) {
  .header {
    padding: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header h1 {
    font-size: 40px;
  }

  .header p {
    font-size: 28px;
  }

  .faq-container {
    padding-left: 60px;
  }

  .faq-container h3 {
    font-size: 34px;
  }

  .faq-container p {
    font-size: 28px;
  }

  .faq-container ol,
  ul,
  li {
    font-size: 28px;
  }

  .divider {
    width: 90%;
  }

  .author-info {
    font-size: 24px;
  }
}